.mtte.forge .tileres {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.mtte.forge .tileres:hover {
  opacity: 50%;
}

.mtte.forge .tileres img {
  object-fit: contain;
  border: none;
  margin: 2px;
}

.mtte.forge .tileres.video video {
  display: none;
  border: none;
  margin: 2px;
}

.mtte.forge .fallback {
    background-image: url(../../icons/svg/video.svg);
    display: inline-block;
    min-width: 100px; 
    min-height: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mtte.forge .cc_image {
    /*min-width: 100px;
    min-height: 100px;*/
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.mtte.forge .tileres.draggable {
  cursor: grab;
}

.mttedialog.listPacks th {
  text-align: left;
}

.mttedialog.listPacks td, .mttedialog.listPacks th {
  padding-right: 20px;
}

.mttedialog.listPacks td.num, .mttedialog.listPacks th.num {
  text-align: right;
}

.mtte.forge .options .option {
  display: inline;
}

.mtte.forge .options .tilesize {
  margin-left: 5px;
  width: 45px
}

.mtte.forge .options .macro {
  margin-left: 5px;
  width: 100px
}

.mtte .fav {
  position: absolute;
  top: 10px;
  right: 10px;
}

.mtte .fav .info {
  margin-left: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 18px;
  box-sizing: content-box;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3px #000;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 3px;
}

.mtte .image {
  display: flex;
}

.mtte .category {
  margin-bottom: 10px;
}

.mtte .category .label {
  width: 130px;
  display: inline-block;
  font-weight: bold;
}

.mtte .category select {
  width: 220px;
}

.mtte .categories {
  padding: 10px;
}

.mtte .links {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.mtte .folder.selected {
  color: darkred;
}

#moulinette-favorites .window-content {
  background: none;
}

#moulinette-favorites .tabs {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}

#moulinette-favorites .tileres:hover {
  background: white;
}

#moulinette-favorites .sidebar {
  position: relative;
  height: 100%;
}

#moulinette-favorites nav, #moulinette-favorites footer, #moulinette-favorites .info, #moulinette-favorites .tiles {
  position: absolute;
}

#moulinette-favorites nav {
  height: 52px;
  width: 100%;
}

#moulinette-favorites nav a {
  margin: 2px;
}

#moulinette-favorites .info {
  top: 55px;
  font-style: italic;
  color: #ccc;
  font-size: 10px;
  text-align: center;
  width: 100%;
}

#moulinette-favorites .tiles {
  top: 68px;
  bottom: 30px;
  width: 100%;
  overflow: scroll;
}

#moulinette-favorites footer {
  font-size: 20px;
  color: white;
  height: 30px;
  bottom: 0px;
  width: 100%;
  border-top: 1px solid white;
  padding-top: 2px;
  text-align: center;
}

#moulinette-favorites footer .action {
  padding-right: 10px;
}

#moulinette-favorites-settings .invisible {
  color: darkred;
}

#moulinette-favorites-settings ol {
  margin: 0px;
  padding: 0px;
}

#moulinette-favorites-settings input {
  margin-left: 5px;
}

#moulinette-favorites-settings .actions button.search {
  margin-left: 5px;
  max-width: 30px;
}

#moulinette-favorites-settings .actions button.add, #moulinette-favorites-settings .actions button.apply, #moulinette-favorites-settings .actions button.cancel {
  max-width: 150px;
}

#moulinette-favorites-settings .actions a {
  padding-right: 8px;
}

#moulinette-favorites-settings #main {
  position: relative;
  height: 100%;
}

#moulinette-favorites-settings .tilesize {
  max-width: 50px;
}

#moulinette-favorites-settings .macroLabel {
  margin-left: 40px;
  max-width: 113px;
}


#moulinette-favorites-settings #main .groups, #moulinette-favorites-settings footer {
  position: absolute;
}

#moulinette-favorites-settings #main .groups {
  top: 0px;
  bottom: 110px;
  width: 100%;
}

#moulinette-favorites-settings #main footer {
  height: 140px;
  bottom: 0px;
  width: 100%;
}

#moulinette-favorites-settings .item-list .id {
  padding-left: 5px;
  max-width: 100px;
}

#moulinette-favorites-settings .item-list .iconImg {
  max-width: 35px;
}

#moulinette-favorites-settings .item-list .count {
  max-width: 50px;
}

#moulinette-favorites-settings .item-list .actions {
  max-width: 60px;
}

#moulinette-favorites-settings footer .edit {
  display: none;
}

#moulinette-favorites-settings .groups .item:hover {
  color: white;
  background-color: #777;
}

#moulinetteSearch {
  min-height: 300px;
  min-width: 750px;
}

#moulinetteSearch .body {
  position: relative;
  height: 100%;
  overflow: hidden;
}

#moulinetteSearch .header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  overflow: hidden;
  width: 100%;
}

#moulinetteSearch .main {
  display: flex;
  height: auto;
  position: absolute;
  top: 40px;
  bottom: 30px;
  left: 0px;
  overflow-y: auto;
  width: 100%;
  margin-bottom: 0px;
}

#moulinetteSearch .footer {
  position: absolute;
  bottom: 0px;
  height: 25px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  padding: 5px;
  text-align: right;
  padding: 5px 65px 0px 5px;
  display: flex;
  border-top: 1px solid var(--color-border-light-tertiary)
}

#footerTiles {
  display: flex;
}

#moulinetteSearch .assets {
  position: relative;
  margin-top: 0px;
  height: auto;
  width: 100%;
}

#moulinetteSearch .filters {
  position: relative;
  padding: 0px 5px;
  min-width: 225px;
}

#moulinetteSearch .content {
  position: relative;
  height: 100%;
  overflow-y: scroll;
}

#moulinetteSearch .filters .toggle {
  display: none;
  font-size: 32px;
  position: absolute;
  top: 5px;
  right: 15px;
}

#moulinetteSearch .assets .toggle {
  display: none;
  font-size: 22px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: #555;
}

#moulinetteSearch .applied {
  color: darkred;
}

#moulinetteSearch .filters h2 {
  font-size: 14px;
  font-weight: bold;
  border: 0px;
  margin-top: 15px;
  margin-bottom: 4px;
  cursor: pointer;
}

#moulinetteSearch .filters li {
  list-style-type: none;
}

#moulinetteSearch .filters ul {
  margin: 0px;
  padding-left: 5px;
}

#moulinetteSearch .tilesize, #footerTiles .tilesize {
  margin-left: 5px;
  width: 45px
}

#moulinetteSearch .dropmode, #footerTiles .dropmode {
  padding-left: 5px;
}

#moulinetteSearch .results {
  position: absolute;
  right: 20px;
}

#moulinetteSearch .optionBlock, #footerTiles .optionBlock {
  margin-right: 20px;
}

#moulinetteSearch .details {
  position: absolute;
  top: 10px;
  right: 10px;
}

#moulinetteSearch .name {
  text-shadow: 0.03em 0 lightgrey, 0 0.03em lightgrey;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: large;
  display: none;
}

#moulinetteSearch .name:hover {
  display: block;
}

#moulinetteSearch .details .info {
  position: relative;
  margin-left: 8px;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  box-sizing: content-box;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px #000;
  color: #BBB;
  text-align: center;
  border: 1px solid #000;
  border-radius: 5px;
}

#moulinetteSearch .details .stats {
  position: absolute;
  text-align: center;
  color: orange;
  left: 2px;
  width: 32px;
  height: 32px;
  top: 16px;
  vertical-align: middle;
  font-size: 18px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: help;
}

#moulinetteSearch .details .stats.small {
  font-size: 12px;
  top: 18px;
}

#mtteOptionsDialog {
  min-height: 250px;
}

#mtteOptionsDialog .options {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

#mtteOptionsDialog .options .macro {
  display: flex;
  width: 200px;
  padding-right: 10px;
  margin: 2px 0px;
  cursor: pointer;
  align-items: center;
}

#mtteOptionsDialog .options .macro.selected img {
  border: 3px solid var(--color-border-highlight-alt);
  box-shadow: 0 0 10px var(--color-shadow-highlight) inset;
}

#mtteOptionsDialog .options.macros {
  position: absolute;
  top: 50px;
  bottom: 50px;
}

#mtteOptionsDialog .options.actions {
  align-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0px;
}

#mtteOptionsDialog .options.actions button {
  width: 45%;
}

#mtteOptionsDialog .options .macro img {
  width: 48px;
  margin-right: 10px;
}

#mtteZoom, #mtteZoomVid {
  display: none;
  object-fit: contain;
  position: absolute;
  border: 1px solid #000;
  background: url(../../ui/parchment.jpg) repeat;
  z-index: 100;
  box-shadow: 0px 0px 2px 2px #666;
}
