.mtte.forge .tileres {
  display: inline-flex;
  cursor: pointer;
}

.mtte.forge .tileres:hover {
  opacity: 50%;
}

.mtte.forge .tileres img {
  object-fit: contain;
  border: none;
  margin: 2px;
}

.mtte.forge .tileres.video video {
  display: none;
  border: none;
  margin: 2px;
}

.mtte.forge .fallback {
    background-image: url(../../icons/svg/video.svg);
    display: inline-block;
    min-width: 100px; 
    min-height: 100px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mtte.forge .cc_image {
    min-width: 100px;
    min-height: 100px;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.mtte.forge .tileres.draggable {
  cursor: grab;
}

.mttedialog.listPacks th {
  text-align: left;
}

.mttedialog.listPacks td, .mttedialog.listPacks th {
  padding-right: 20px;
}

.mttedialog.listPacks td.num, .mttedialog.listPacks th.num {
  text-align: right;
}

.mtte.forge .options .option {
  display: inline;
}

.mtte.forge .options .tilesize {
  margin-left: 5px;
  width: 45px
}

.mtte.forge .options .macro {
  margin-left: 5px;
  width: 100px
}

.showcase {
  font-style: italic;
  font-size: small;
  padding: 5px;
  border: 2px solid darkgray;
}
    
