<h2>Tiles & images</h2>

<center><img src="modules/moulinette-tiles/img/schema.svg" width="80%" /></center>

<p>
Moulinette works with two different types of image packs:
<ul>
<li><b>Remote:</b> Images that are hosted by Moulinette servers. These packs are available by default and anyone can quickly benefit from them without effort. They are generally under <a href="creativecommons.org/" target="_blank">Creative Commons</a> license and may be freely redistributed under certain conditions.</li>
<li><b>Local:</b> You can bring your own images. These packs must be downloaded or provided by yourself. It could be composed of assets that you bought or that are freely available but may not be redistributed by Moulinette.</li>
</ul>
</p>

<h3>How to use remote packs?</h3>
<p>
Remote packs are automatically available from the drop-down list. Simply select a pack or execute a search.
<ol>
<li>When Moulinette opens, it will request for packs from Moulinette's server</li>
<li>The server returns the available packs</li>
<li>When you use an image from an available pack, moulinette downloads it from the server and uploads it into your FoundryVTT installation (under `moulinette/tiles/`)</li>
</ol>
</p>

<h3>How to install a pack locally?</h3>
<p>
In order to install your own pack, you need to drop your images into your FoundryVTT installation.
<ul>
<li>Browse the server to `moulinette/images/custom`</li>
<li>Create a folder to represent the publisher</li>
<li>Inside the newly created folder, create a subfolder to represent your pack(s)</li>
<li>Drop your images into that folder or below</li>
<li>Click on `Index images` button to let Moulinette know about them</li>
</ul>

Example:
<pre>
moulinette/images/custom
  CSUAC
    Animal
      Aquatic/crab/crab blue.png
      Aquatic/crayfish/blue sha kpl.png
    Humanoid
      Human/male.png
      Human/female.png
      child.png
    ...
  Devin's token
    TP01 Characters
      fighter.png
      wizard.png
    ...
</pre>

</p>

<h3>You already have image assets in a folder but don't want to move them into /moulinette folder?</h3>
<p>
Check <a href="https://github.com/SvenWerlen/moulinette-core/tree/main/docs" target="_blank">Moulinette documentation</a> for advanced configuration.
</p>
