<form autocomplete="off" onsubmit="event.preventDefault();">
  <div class="body">
    {{#if error}}
    <div class="error">{{error}}</div>
    {{/if}}
    {{#unless error}}

    <img id="mtteZoom"/>
    <video id="mtteZoomVid" width="300" height="300" autoplay loop muted>
      <source src="" type="video/webm"> Your browser does not support the video tag.
    </video>

    <div class="header">
      <div class="form-group search">
        <input id="search" type="text" placeholder="{{localize "mtte.search"}}"></input>
        <button class="search"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="main">
      <div class="filters">
        <div class="content"></div>
        <div class="toggle"><a><i class="fas fa-caret-left" title="{{ localize "mtte.article" }}"></i></a></div>
      </div>
      <div class="assets">
        <div class="content"></div>
        <div class="toggle"><a><i class="fas fa-filter" title="{{ localize "mtte.article" }}"></i></a></div>
      </div>
    </div>

    <div class="footer">
    </div>
    {{/unless}}
  </div>
</form>
